<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../layout/footer.css">
    <link rel="icon" href="../assets/image/logo pizza2.png">
    <tile></tile>
</head>

<body>
    <footer>
        <div id="footer1">
            <p>Todos os direitos reservados © 2023</p>

            <a href="https://linktr.ee/Eu__53?utm_source=linktree_profile_share&ltsid=f57019f5-2af7-4005-a68f-ee79205385c1"
                target="_blank">
                <img src="../assets/image/logonovo.png"
                        alt="Imagem da logo do linktree" widht="32px" height="32px"/>

            </a>
        </div>
    </footer>
</body>

</html>