<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../layout/header.css">
    <link rel="icon" href="../assets/image/logo pizza2.png">
    <title>Header</title>
</head>

<body>
    <header>
        <div class="header">
            <img src="../assets/image/logo pizza2.png" alt="logo da nossa pizzaria">
            <section class="conteiner">
                <a href="../index.html" target="_parent"><li>Menu</li></a>
                <a href="../pages/page2.html" target="_parent"><li>Sobre Nós</li></a>
                <a href="../pages/page3.html" target="_parent"><li>Contato</li></a>
            </section>
        </div>
    </header>
</body>

</html>