* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(220, 232, 175);
}

p {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    font-size: larger;
    text-align: center;
}

img {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 20%;
}

input {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

#iframe_footer {
    position: fixed;
    bottom: 0;
}

button {
    padding: 10px;
}

form{ text-align: center;
    text-align: center;
}
